/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

.gradient-heading {
	@apply box-decoration-clone bg-clip-text text-transparent;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-500 to-secondary-500;
}

@font-face {
	/* Reference name */
	font-family: 'BebasNeue';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/BebasNeue-Regular.ttf');
}