/*place global styles here */
html,
body {
	@apply h-full;
}

.gradient-heading {
	@apply box-decoration-clone bg-clip-text text-transparent;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-700 to-secondary-700 dark:from-primary-500 dark:to-secondary-500;
}
